*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

body {
    background-color: #0f0f1e;
    color: #fff;
    font-size: 16px;
    overflow: scroll;
}

header {
    position: fixed;
    top: 0;
    padding: 20px 42px;
}